.modal {
    display: none;  
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3); 
  }
  

  .modalContent {
    display: flex;
    margin: auto;
  }
  
  
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    max-width: 20px;
    max-height: 20px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .card{
    border-style: none; 
    border-radius: 5%; 
    border-color: black;
}
#imagen{
    border-right-style: solid;
    border-style: solid;
    border-width: 1px;
    border-right-style: solid; 
    border-left-style: none ;
    border-bottom-style: solid;
    border-color: black;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    width: 40%;
    max-height: 500px;
    height: 100%;
    float: right;
    display: flex;
    margin-right: 10%;
}
img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
#texto {    
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    max-height: 500px;
    height: 100%;
    overflow-y: scroll;
    font-size: 20px;
    width: 40%;
    margin-left: 10%;
    background-color: white;
}
#padre{
    position: relative;
}
#padre textarea{
    display: flex;
}
#padre button{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top:40px;
    height: 40px;
}
#precioActualizado{
    color: red; 
    display: block; 
    font-size: 15px; 
    margin-top: -5px;
}
.aclaraciones{
    width: 95%;
    margin-left: 20px;
    height: auto;
    margin-top: 15px;
}
.botonAgregar{
    background-color: #F52F41;
    border-radius: 6px;
    margin-top: 10px;
    color: white;
    border: #F52F41;
    height: 30px;
    width: 50%;
    margin-left: 50%;
    margin-right: 50%;
}
#card{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    height: auto;
    margin-top: 15px;
}

::-webkit-scrollbar{
    display: none;
}
.nombre{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 10px;
}
.nombre h3{
    font-size: 25px;
}
.nombre p{
    font-size: 14px;
    color: silver;
}

h1{
    font-size: 30px;
    text-align: center;
}
.salsas{
    font-size: 20px;
} 
