
body{
    background-color: #141414f7;
}
img.zz{
    height: 100px;
    width: auto;
    padding-left: 8px;
}

.plus svg{
    width: 30px;
    height: 30px;
}

img.x{
    height: 20px;
    width: auto;
}

div.padre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

div.res{
    margin-left: 5%;
    margin-top: 6%;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: #ff2426;
    width: 50%;
    display: inline-flex;
    align-items: center;
    padding-bottom: 10px;
}

.padre div{
    height: 130px;
    width: 120px;
    display: flex;
    align-items: center;
    position: fixed;
    text-align:center;
    z-index: 3;
}

div.nn{
    height: 100px;
    width: 250px;
    align-items: center;
    display: inline-flex;
    margin-left: 15px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background:/*#1ca18b*/#282828;
    text-align: center;
    margin-top: 2.5%;
    z-index: 2;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ff2426;
}

img.head{
    height: 50px;
    width: auto;
}

img.carrito:hover{
    opacity: 0.50;
    -moz-opacity: .50;
    /*filter:alpha (opacity=50);*/
    cursor: pointer;
}

.cr img{
    height: 25px;
    width: auto;
}

.cr svg{
    height: 25px;
    width: auto;
    fill: white;
}

.cr svg:hover{
    fill: #ff2426;
}

.cr .carrito:hover{
    color: yellow;
}

div.head{
    float: left;
    margin-left: 10px;
}
.cr{
    height: 50px;
    float:right;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;

}

.cr span h6{
    color: black;
    font-size: 12px;
}
.cr span{
    height: 15px;
    width: 15px;
    text-align: center;
    position: absolute;
    right: 6px;
    top: 8px;
    background-color: white;
    border-radius: 100%;
    display: none;
}

html{
    scroll-behavior: smooth;
}
.tiposBoxContainer{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    padding-bottom: 0.7%;
    margin-top: 3%;
    /*border-style: solid;
    border-width: 1px;
    border-color: rgba(170, 170, 170, 0.445);*/
}
.tiposBoxContainer .tiposBox{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
    align-items: center;
    height: 60px;
    overflow-x: scroll;
    background-color: white;
    padding-left: 5px;
    padding-right: 10px;
}
.tiposBoxContainer .tiposBox.h1{
    margin-left: 5px;
}
.tiposBoxContainer .tipos{
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100px;
    background-color: white;
    min-width: fit-content;
    height: 35px;
    box-shadow: 0 0px 8px 5px rgba(128,98,96,.16);
    overflow: hidden;
}
.tipos:hover {
    background-image: linear-gradient(130deg,#ff451a,#ff1517 70%);
    color: transparent;
}
.tiposBoxContainer .tipos h3:hover{
    color: white;
}

.tiposBoxContainer .tipos h3{
    color: #282828;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: auto;
    margin-top: auto;
}

.platoContainer{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.platoContainer .nombreSeccion{
    height: 40px;
    border-bottom-style: solid;
    border-bottom-color: #ff2426;
    border-bottom-width: 1px;
    display: flex;
    width: 100%;
    align-items: center;
}

.platoContainer .nombreSeccion h1{
    font-size: 30px;
    color: white;
}

.platoContainer .body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.containerCard {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 5%;
    max-width: 300px;
    margin: 2%;
    margin-bottom: 0;
}

.containerCard .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.containerCard .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.containerCard .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.containerCard .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.containerCard .card:hover .face.face2{
    transform: translateY(0);
}

.boton{
    width:30px;
    height:30px;
    margin: 5px;
    padding:10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:11px;
    line-height:32px;
    float:right;
}
.boton svg{
    width: 30px;
    height: auto;
}

.boton .backgroundSVG{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-image: linear-gradient(130deg,#ff451a,#ff1517 70%);
}

.boton .backgroundSVG svg:hover{
    fill: #9c9a9a;
}

/*CARRITO*/
.containerFactura{
    display: none;
    position: absolute;
    /* right: 0px; */
    /* width: 500px; */
    /* height: auto; */
    /* min-height: 100%; */
    position: fixed;
    z-index: 3;
    /* padding-top: 323px; */
    left: 0;
    top: 0;
    padding-left: 860px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.modalContent {
    background-color: #282828;
    margin: auto;
    width: 500px;
    height: 100%;
    float: right;
}

.headerNombrePagina{
    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: #ff2426;
    margin-right: 8%;
    margin-left: 8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.headerNombrePagina img{
    width: 120px;
    height: 72px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headerNombrePagina svg{
    --main-svg-width: 25px;
    float:left;
    width: var(--main-svg-width);
    height: var(--main-svg-width);
    display: block;
    fill: white;
    margin-right: calc(-1*(var(--main-svg-width)));
}

.headerNombrePagina svg:hover{
    --main-svg-width: 40px;
}
.headerUsuario {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: solid;
    border-bottom-width: 0.1px;
    border-color: #ff2426;
}
.headerUsuario img{
    border-style: solid;
    border-color: #ff2426;
    border-width: 2px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-bottom: 5%;
}
.headerUsuario h1{
    margin-left: 8px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5%;
    color: white;
}

.headerRestaurante{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-bottom: solid;
    border-bottom-width: 0.1px;
    border-color: #ff2426;

}

.headerRestaurante img{
    border-style: solid;
    border-color: silver;
    border-width: 1px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    margin-bottom: 5%;
}

.headerRestaurante h1{
    margin-left: 8px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 5%;
    color: white;
}
.headerRestaurante h2{
    font-size: 12px;
    text-align: right;
    display: block;
    color: #f7732d;
}
.headerRestaurante h2:hover{
    font-size: 15px;
}

.pedidos{
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom:5%;
}
.pedidos ul{
    overflow-y: scroll;
    height: 290px;
    padding-inline-start: 0%;

}
#platos .platosPedidos{

}

#platos .header{
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: white;
}

#platos .header h1{
    font-size: 15px;
    color: white;
}

.pedido{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #7d7d7d;
    padding: 10px 5px;
}

.platoCarritoDiv{
    margin-left: 8px;
}

.platoCarritoDiv h5{
    font-size: 12px;
    color: #7d7d7d;
}

.pedidos .pedido img{
    border-style: solid;
    border-color: silver;
    border-width: 1px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
}

.pedidos .pedido h3{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0px;
    max-width: 220px;
    white-space: nowrap;
    color: white;
    margin-left: 8px;
}

.pedidos .pedido .p h2, h4{
    font-size: 15px;
    text-align: right;
    display: block;
    color: #7d7d7d;
    margin-bottom: 0px;
}

.pedidos .pedido .p{
    text-align: right;
    margin: 0px auto 0px auto;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.pedidos .pedido .p svg{
    display: none;
    width: 20px;
    height: 20px;
    /*fill: #f7732d;*//*naranja o negro*/
    margin-left: 10px;
    fill: white;
}

.pedidos .pedido .p svg:hover{
    width: 30px;
    height: 30px;
}

.pedir{
    /*margin-left: 8%;*/
    margin-top: 10px;
    display: inline-flex;
    width: 100%;
}

.pedir button{
    background-image: linear-gradient(130deg,#ff451a,#ff1517 70%);
    border-radius: 6px;
    color: white;
    border: #f7732d;
    height:40px;
    width: 250px;
}

.pedir button:active{
    border-style: none;
}

.pedir button:focus{
    border-style: none;
}

.pedir div{
    margin-left: 75px;
}

.pedir svg{
    width: 25px;
    height: 25px;
    /*float: right;*/
    margin-top:8px;
    fill: white;
    /*lo centre a mano fijarse de cambiarlo*/
}
.pedir svg:hover {
    fill: red;
}

::-webkit-scrollbar{
    display: none;
}
.modal {
    display: none;
    /* position: fixed; */
    z-index: 1;
    padding-top: 323px;
    /* left: 0; */
    /* top: 0; */
    padding-left: 870px;
    /* width: 100%; */
    /* height: 100%; */
    /* overflow: auto; */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 300px;
    height: 200px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 6%;
}

#canastaVaciaFalse:hover{
    fill: white;
    background: black;
    border-radius: 100%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
#canastaVaciaTrue:hover{
    fill: white;
    background: black;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#carritoVacio{
    display: none;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 20%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#carritoVacio svg{
    width: 115px;
    height: 115px;
    fill: #7d7d7d;
}

#carritoVacio h1{
    margin-top: 10px;
    font-size: 20px;
    color: #7d7d7d;
}

#carritoVacio2{
    display: none;
    margin-top: 5%;
    margin-bottom: 20%;
}

#carritoVacio2 svg{
    width: 70px;
    height: 70px;
    fill: #7d7d7d;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#carritoVacio2 h1{
    margin-top: 10px;
    font-size: 20px;
    color: #7d7d7d;
    text-align: center;
}

/*modal agregados*/

.containerAgregados{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.containerAgregados .mContent {
    background-color: #fefefe;
    margin: auto;
    display: block;
    width: 880px;
}

.containerAgregados .cardAgregados{
    margin-left: auto;
    margin-right: auto;
    height: 570px;
    width: 880px;
    max-height: 820px;/*
    border-style: solid;
    border-radius: 15px;
    border-color: grey;*/
    margin-top: 40px;
    display: flex;
    background-color:rgba(245, 245, 242, 0.4);
}

.containerAgregados .cardAgregados .left{
    width: 50%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px;
    background-color: currentColor;
}

.containerAgregados .cardAgregados .left img{
    height: 300px;
    margin: 0;
    border-radius: 30px;
    border-style: solid;
    border-color: bisque;
    border-width: 2px;
    /*width: 100%;*/
}

.containerAgregados .cardAgregados .right{
    width: 50%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 20px;
    padding-bottom: 5px;
    border-left-style: solid;
    border-left-color: gainsboro;
    border-left-width: 1px;
}

.containerAgregados .cardAgregados .right .borrar{
    padding: 10px;
}

.containerAgregados .cardAgregados .right .borrar svg{
    width: 25px;
    height: 25px;
    float: right;
}

.containerAgregados .cardAgregados .right .borrar svg:hover{
    width: 30px;
    height: 30px;

}

.containerAgregados .cardAgregados .right .nombre{
    max-height: 125px;
    border-bottom-width: 1px;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
}

.containerAgregados .cardAgregados .right .nombre h3{
    font-size: 25px;
    font-size: 25px;
    overflow-y: scroll;
    max-height: 60px;
}

.containerAgregados .cardAgregados .right .nombre p{
    font-size: 14px;
    color: silver;
    overflow-y: scroll;
    max-height: 45px;
}

.containerAgregados .cardAgregados .right #opciones{
    height: 220px;
    overflow-y: scroll;
}

.containerAgregados .cardAgregados .right #opciones .tiposSeccion h1{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-flex;
}

.containerAgregados .cardAgregados .right #opciones .tiposSeccion{
    border-bottom-width: 1px;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
}

.containerAgregados .cardAgregados .right #opciones .tiposSeccion .header .obligatorio{
    float: right;
    margin-top: 8px;/*centrar bien*/
    display: none;
}

.containerAgregados .cardAgregados .right #opciones .tiposSeccion .header .obligatorio h1{
    text-align: right;
    font-size: 11px;
    color: #ff1517;
    vertical-align: super;
}

.containerAgregados .cardAgregados .right #opciones .tiposSeccion .header .obligatorio svg{
    fill: #ff1517;
    margin-left: 10px;
    vertical-align: text-top;
}

.containerAgregados .cardAgregados .right #opciones .tiposSeccion .body{
    display: inline-block;
    margin-left: -35px;
}

.containerAgregados .cardAgregados .right #opciones .tiposSeccion .body .botonMasAgregado{
    width: 48.5%;
    display: inline-flex;
    margin-bottom: .5%;
    vertical-align: top;
}

.containerAgregados .cardAgregados .right #opciones .tiposSeccion .body .botonMasAgregado h3 {
    margin-left: 5px;
    vertical-align: top;
    font-weight: 450;
    font-size: 13px;
}

.containerAgregados .cardAgregados .right #opciones .tiposSeccion .body .botonMasAgregado input {
    vertical-align: top;
    margin-top: 2px;
    box-sizing: border-box;
    padding: 0;
    line-height: normal;
    margin: 0;
    /*text-align: start;*/
}

.containerAgregados .cardAgregados .right #opciones .precioTotal{
    border-bottom-width: 1px;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    margin-top: 15px;
}

.containerAgregados .cardAgregados .right #opciones .precioTotal h1, h2{
    display: inline-flex;
}

.containerAgregados .cardAgregados .right #opciones .precioTotal h1{
    font-size: 20px;
}

.containerAgregados .cardAgregados .right #opciones .precioTotal h2{
    font-size: 20px;
    /*color: #F52F41;*/
    margin-left: -5px;
}

.containerAgregados .cardAgregados .right #opciones .precioTotal h3{
    font-size: 15px;
    color: silver;
    text-decoration-line: line-through;
    font-weight: 400;
    margin-left: -10px;

}

.containerAgregados .cardAgregados .right #opciones .precioTotal span{
    display: inline-grid;
}

.containerAgregados .botonAgregar{
    background-image: linear-gradient(130deg,#ff451a,#ff1517 70%);
    border-radius: 6px;
    margin-top: 10px;
    color: white;
    border: #F52F41;
    height: 30px;
    width: 50%;
    margin-left: 50%;
    margin-right: 50%;
}
.containerAgregados .aclaraciones{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    height: auto;
    margin-top: 15px;
}

.containerAgregados .padre{
    position: relative;
    background-color: #fefefe;
    box-shadow: 0px -15px 12px -11px rgba(0,0,0,0.75);
}

.containerAgregados .padre textarea{
    display: block;
    /*box-shadow: 0px -4px 19px -3px rgba(0,0,0,0.75);*/

}

.containerAgregados .padre button{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    width: 80%;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top:40px;
    height: 35px;
}

.containerAgregados .precioAgregado{
    color: red;
    display: block;
    font-size: 10px;
    margin-top: -5px;
}

::-webkit-scrollbar{
    display: none;
}